footer{
   background-color: blue;
}
p {
   color: white;
   padding-top: 1rem;
}
.white-color {
   color:white;
   margin: 8px;
   }

.copyright{
   font-size: small;
   color: rgb(223, 223, 223);
}
